.flex{
    display:flex;
}
.grid{
    display:grid;
}


.flex-column{
    display:flex;
    flex-direction: column;
}

.w-100{
    width:100%;
}

.centerg{
    place-items: center;
}

.fonthead{
    font-size:50px;
}
.fw-600{
    font-weight: 600;
}
.fc{
    color:rgb(44, 43, 43);
}

.fs-14{
    font-size:14px;
}
.fs-25{
    font-size:25px;
}
.fs-40{
    font-size:40px;
}


.fontfamilyG{
    font-family:'Geologica',sans-serif;
}
.centerf{
    justify-content:center;
    align-items:center;
}

.mb-2{
    margin-bottom:2px;
}
.mb-10{
    margin-bottom:12px;
}
.mt-0{
    margin-top:0px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-70{
    margin-top: 70px;
}
.mt-100{
    margin-top:100px;
}

.mb-100{
    margin-bottom: 100px;
}
.ml-0{
    margin-left:0px;
}
.ml-70{
    margin-left: 70px;
}

.mr-40{
    margin-right: 40px;
}
.mr-50{
    margin-right: 50px;
}
.mr-100{
    margin-right: 100px;
}

.pl-0{
    padding-left:0;
}
.pl-20{
    padding-left:20px;
}


.mnone{
    margin:0px;
}

.pbtn{
    padding:13px 25px;
}

.pt-0{
    padding-top:0px;
}

.width-60{
    width:60%;
}

.overflow-hidden{
    overflow:hidden;
}

.height-50{
    height:50%;
}
.padding{
    padding:10px 12px;
}
.p-10-80{
    padding:10px 80px;
}

.h-30{
    height:30%;
}
.h-40{
    height:40%;
}

.subcolor{
    color:rgb(134, 134, 134);
}
.gap-10{
    gap:10px;
}
.gap-20{
    gap:20px;
}
.gap-70{
    gap:70px;
}

.jc-se{
    justify-content: space-evenly;
}